*{
    padding: 0;
    margin: 0;
    color: white;
    box-sizing: border-box;
    border: none;

}
body{
    background-image: url('./shop.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100% 100vh;
    position: relative;

}
nav{
    position: absolute;
    text-align: center;
    width: 80%;
    left: 12px;
    top: 2rem;

}
nav h1{
    font-size: 30px;
    margin-top: 10px;
    text-decoration: underline;
  
}
nav p{
    font-size: 20px;
    text-align:justify;
}
.emty{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.content{
    display: flex;
    min-height: 110vh;

}
.content section{
    margin-top: 8vh;
    margin-left: 20vh;

}
iframe{
    width: 50%;
    height: 50%;
}
.content_form{
    margin-top: 7rem;

}
section i{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    text-align: center;
}
.form{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50%;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
}
.form .contact_form input{
    width: 30rem;
    background-color: transparent;
    border: 0px;
    border: transparent;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    border-bottom:2px solid #ffff ;
}
.form .contact_form input~span{
    position: absolute;
    left: 20px;
    transition: 0.9s ease-in-out;
    margin-top: 10px;
    font-size: 17px;
}
.form .contact_form input:focus~span{
    transform: translateY(-20px);
    pointer-events: none;
}
.form .contact_form textarea{
    width: 30rem ;
    border: 0;
    background-color: transparent;
    margin: 20px;
    font-size: 17px;
    border-bottom: 2px solid #ffff;
}
.form .contact_form textarea~span{
    position: absolute;
    left: 20px;
    margin-top: 10px;
    transition: 0.9s ease-in-out;
}
.form .contact_form textarea:focus~span{
transform: translateY(-20px);
pointer-events: none;
}
.form .contact_form input[type=submit]{
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
    font-size: 17px;
    border-radius: 6px;
    width: 30%;
    height: 40px;
    margin-top: -5px;
}
.form .contact_form input[type=submit]:hover{
    background: transparent;
    color: dodgerblue;
}
.media{
    position: absolute;
    top: 85vb;
    right: 20vh;
    display: flex;
    list-style: none;
}
.media li{
    margin: 20px 30px;
}
/* @media screen and (max-width:900px){
   body{
    background-repeat: repeat-y;
    overflow: auto;
   }
   header{
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
   }
   .emty{
    height: 20vh;
   }
   .form{
    position: absolute;
    top: 100vh;
    margin-left: 10%;
   }
   .content_form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:0;
    margin-left: 10vh;
   }
   .content section{
    margin-top: 0;
    margin-left: 0;
   }
   .media{
    position:absolute;
    top: 183vh;
    right: 30px;
   }
} */

footer {
    background: #3572EF;
    margin-top: 32px;
}

footer a {
    text-decoration: none;
    color: white;
}
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 90%;
    margin: 0 auto;
   
}

.footer-first {
flex: 2;
}
.footer-second {
flex: 1;
}
.footer-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
   font-weight: bold;
}
.footer-second li {
    margin: 10px auto;
}